.formItem {
  margin-bottom: 0.75rem;
}

div.formItem > label {
  margin-right: 5px;
}

.imageListItem {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  max-width: 100%;
}

input.withBtns {
  width: auto;
  margin-right: 5px;
}
