.container {
  margin-bottom: 0.75rem;
  width: fit-content;
}

.spacedRow {
  margin-top: 0.2rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.spacedRow input {
  min-width: 200px;
}
