#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#mainContent {
  /* flex: 1; */
  max-width: 1280px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
